{% extends "themes/" + sysSettings.systemTheme + "/layout.html" %}

{% block head %}
<title>{{sysSettings.siteName}} - User Channels Page</title>

<script type="text/javascript" src="/static/vendor/chartjs/js/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/static/vendor/socketio/js/socket.io.js"></script>
<link href="/static/vendor/videojs/css/video-js.css" rel="stylesheet">

{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 mx-auto">
            <div class="row m-2">
                <div class="index-live-title"><b>Your Channels</b></div>
                <span class="float-right"><button class="btn btn-success shadow" data-toggle="modal" data-target="#newChannelModal"><i class="fas fa-plus"></i> Create Channel</button></span>
            </div>

        {% for channel in channels %}
        <div id="channelEntry-{{channel.id}}" class="p-2 mx-2 mt-2 shadow" style="cursor: pointer;" onclick="toggleDiv('channelDash-{{channel.id}}')">
            <div class="row">
                <div class="ml-2 col-auto align-middle my-auto">
                    <b><h2><i class="fas fa-bars"></i></h2></b>
                </div>
                <div class="col">
                    <h5>{{channel.channelName}}</h5>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <i class="fas fa-hashtag mr-2"></i> {{channel.topic|get_topicName}}
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fas fa-users"></i> {{channel.views}}
                        </div>
                        <div class="col-12 col-md-4">
                            <i class="fas fa-star"></i> {{channel.subscriptions|length}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="channelDash-{{channel.id}}" style="z-index:-1;display:none;">
          <div class="ml-4 col-auto shadow">
            <div class="h-100">
              <div class="my-5"><a href="javascript:void(0)" onclick="openChannelWindow('{{channel.id}}','statWindow');" data-toggle="tooltip" data-placement="right" title="Dashboard"><h2><i class="fas fa-th-large"></i></h2></a></div>
              <div class="my-5"><a href="javascript:void(0)" onclick="openChannelWindow('{{channel.id}}','videoWindow');" data-toggle="tooltip" data-placement="right" title="Videos"><h2><i class="fas fa-video"></i></h2></a></div>
              <div class="my-5"><a href="javascript:void(0)" onclick="openChannelWindow('{{channel.id}}','clipWindow');" data-toggle="tooltip" data-placement="right" title="Clips"><h2><i class="fas fa-cut"></i></h2></a></div>
              <div class="my-5"><a href="javascript:void(0)" onclick="openChannelWindow('{{channel.id}}','settingsWindow');" data-toggle="tooltip" data-placement="right" title="Settings"><h2><i class="fas fa-cog"></i></h2></a></div>
              <div class="my-5">{% if channel.chatEnabled == True %}<a href="javascript:void(0)" onclick="openChannelWindow('{{channel.id}}','chatSettingsWindow');" data-toggle="tooltip" data-placement="right" title="Chat"><h2><i class="fas fa-comment"></i></h2></a>{% else %}<a href="#" data-toggle="tooltip" data-placement="right" title="Chat is disabled"><h2><i class="far fa-comment"></i></h2></a>{% endif %}</div>
            </div>
          </div>
          <div class="col-9 col-sm-10 col-lg-11">
            <div id="statWindow-{{channel.id}}" style="display:block;">
                <canvas id="viewershipChart-{{channel.id}}" width="400" height="400"></canvas>
            </div>
            <div id="videoWindow-{{channel.id}}" style="display:none;">
                <div class="my-4 mx-3"><h4>Video List</h4></div>
                <div class="row mx-lg-2">
                    <ul id="videoList-{{channel.id}}" class="itemList d-flex flex-wrap justify-content-start" style="width:100%">
                      {% for video in channel.recordedVideo %}
                      <li id="video-{{video.id}}" class="channelVideoCard shadow p-2 p-md-0 m-0 m-md-2">
                        <div class="row">
                          <div class="col-auto m-2 pt-3">
                            <div class="mb-2" style="width:270px;">
                              <img class="shadow {% if video.gifLocation != None %}gif{% endif %} lazy" id="videoThumb-{{video.id}}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
                            </div>
                            <div>
                                <button type="button" class="btn btn-success btn-block shadow videoThumbnailUploadModalButton" data-toggle="modal" data-target="#videoThumbnailUploadModal" data-videoid="{{video.id}}">Upload Thumbnail</button>
                            </div>
                            <div class="mt-2">
                              <button class="videoMoveModalButton btn btn-primary shadow" data-toggle="modal" data-target="#videoMoveModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Move Video"><i class="fas fa-arrow-circle-right"></i></button>
                              <button class="btn btn-primary shadow" data-toggle="modal" onclick="openClipModal('{{video.id}}', '/videos/{{video.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Create Clip"><i class="fas fa-cut"></i></button>
                              <button class="videoEditModalButton btn btn-primary shadow" data-toggle="modal" data-target="#videoEditModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Edit Metadata"><i class="fas fa-edit"></i></button>
                              <button class="btn btn-primary shadow" data-toggle="modal" onclick="openSSModal('{{video.id}}', '/videos/{{video.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Set Thumbnail"><i class="fas fa-camera"></i></button>
                              <button class="videoShareModalButton btn btn-primary shadow" data-toggle="modal" data-target="#videoShareModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Share Video"><i class="fas fa-share-alt"></i></button>
                              <button class="videoDeleteModalButton btn btn-danger shadow" data-toggle="modal" data-target="#videoDeleteModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Delete Video"><i class="fas fa-trash-alt"></i></button>
                            </div>
                          </div>
                          <div class="col mt-2">
                            <h4><a href="/play/{{video.id}}"><span id="vidName-{{video.id}}">{{video.channelName}}</span></a></h4>
                            <h5><i class="fas fa-hashtag mr-2"></i><span id="vidTopicText-{{video.id}}">{{video.topic|get_topicName}}</span></h5>
                            <h5><i class="far fa-calendar-alt mr-2"></i>{{video.videoDate|normalize_date}}</h5>
                            <h5><i class="far fa-clock mr-1"></i>{{video.length|hms_format}}</h5>
                            <span id="vidTopic-{{video.id}}" class="d-none">{{video.topic}}</span>
                            <span id="vidDescription-{{video.id}}" class="d-none">{{video.description}}</span>
                            <span id="vidAllowComments-{{video.id}}" class="d-none">{{video.allowComments}}</span>
                            <h5><i class="fas fa-users"></i> {{video.views}}</h5>
                            <h5><i class="far fa-thumbs-up"></i> {{video.upvotes|length}}</h5>
                            <h5><i class="far fa-comment-alt"></i> {{video.comments|length}}</h5>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="published-{{video.id}}" class="col-form-label"><b>Published? </b></label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" data-toggle="toggle" id="published-{{video.id}}" name="publishedSelect" onchange="togglePublished('{{video.id}}')" {% if video.published == True %} checked {% endif %}>
                                </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="clipWindow-{{channel.id}}" style="display:none;">
                <div class="my-4 mx-3"><h4>Clip List</h4></div>
                <div class="row mx-lg-2">
                    <ul id="clipList-{{channel.id}}" class="itemList d-flex flex-wrap justify-content-start" style="width:100%">
                      {% for video in channel.recordedVideo %}
                      {% for clip in video.clips %}
                      <li id="clip-{{clip.id}}" class="channelVideoCard shadow p-2 p-md-0 m-0 m-md-2">
                        <div class="row">
                          <div class="col-auto m-2 pt-3">
                            <div class="mb-2" style="width:270px;">
                              <img class="shadow {% if clip.gifLocation != None %}gif{% endif %} lazy" id="clipThumb-{{clip.id}}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{clip.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
                            </div>
                            <div class="mt-2">
                              <button class="clipEditModalButton btn btn-primary shadow" data-toggle="modal" data-target="#clipEditModal" data-clipid="{{clip.id}}"><i class="fas fa-edit"></i></button>
                              <button class="btn btn-primary shadow" data-toggle="modal" onclick="openClipSSModal('{{clip.id}}', '{{clip.recordedVideo.id}}', '/videos/{{clip.videoLocation}}');"><i class="fas fa-camera"></i></button>
                              <button class="clipShareModalButton btn btn-primary shadow" data-toggle="modal" data-target="#videoShareModal" data-clipid="{{clip.id}}"><i class="fas fa-share-alt"></i></button>
                              <button class="clipDeleteModalButton btn btn-danger shadow" data-toggle="modal" data-target="#clipDeleteModal" data-clipid="{{clip.id}}"><i class="fas fa-trash-alt"></i></button>
                            </div>
                          </div>
                          <div class="col mt-2">
                            <h4><a href="/clip/{{clip.id}}"><span id="clipName-{{clip.id}}">{{clip.clipName}}</span></a></h4>
                            <h5><i class="fas fa-hashtag mr-2"></i><span id="clipTopicText-{{clip.id}}">{{clip.recordedVideo.topic|get_topicName}}</span></h5>
                            <h5><i class="far fa-calendar-alt mr-2"></i>{{clip.recordedVideo.videoDate|normalize_date}}</h5>
                            <h5><i class="far fa-clock mr-1"></i>{{clip.length|hms_format}}</h5>
                            <span id="clipDescription-{{clip.id}}" class="d-none">{{clip.description}}</span>
                            <h5><i class="fas fa-users"></i> {{clip.views}}</h5>
                            <h5><i class="far fa-thumbs-up"></i> {{clip.upvotes|length}}</h5>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="clipPublished-{{clip.id}}" class="col-form-label"><b>Published? </b></label>
                                </div>
                                <div class="col-6">
                                    <input type="checkbox" data-toggle="toggle" id="clipPublished-{{clip.id}}" name="publishedSelect" onchange="togglePublishedClip('{{clip.id}}')" {% if clip.published == True %} checked {% endif %}>
                                </div>
                            </div>
                          </div>
                        </div>
                      </li>
                      {% endfor %}
                      {% endfor %}
                    </ul>
                </div>
            </div>
            <div id="settingsWindow-{{channel.id}}" style="display:none;">
                <form action="/settings/channels" enctype=multipart/form-data method="post">
                    <div id="channelCard-{{channel.id}}" class="my-2 ml-2">
                        <div>
                            <div class="row">
                                <div class="col-xl-4 col-lg-6 col-md-12">
                                    <h4>Channel Image</h4>
                                    {% if channel.imageLocation == None %}
                                    <img src="/static/img/video-placeholder.jpg" width="100%">
                                    {% else %}
                                    <div>
                                        <img src="/images/{{channel.imageLocation}}" class="stream-img card-img-top shadow" width="100%">
                                    </div>
                                    {% endif %}
                                    <input type="file" name="photo" class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>

                                    <h4>Offline Stream Image</h4>
                                    {% if channel.offlineImageLocation == None %}
                                    <img src="/static/img/video-placeholder.jpg" width="100%">
                                    {% else %}
                                    <div>
                                        <img src="/images/{{channel.offlineImageLocation}}" class="stream-img card-img-top shadow" width="100%">
                                    </div>
                                    {% endif %}
                                    <input type="file" name="offlinephoto" class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>

                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12">
                                    <div class="form-group">
                                        <label for="channelName" class="col-form-label"><b>Channel Name</b></label>
                                        <input type="text" class="form-control" name="channelName" id="channelName" value="{{channel.channelName}}" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="channeltopic" class="col-form-label"><b>Default Topic</b></label>
                                        <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                                            {% for topic in topics %}
                                            <option value={{topic.id}} {% if channel.topic==topic.id %} selected {% endif %}>{{topic.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="channelName" class="col-form-label"><b>Default Name for Streams</b></label>
                                        <input type="text" class="form-control" name="channelStreamName" id="channelStreamName" value="{{channel.defaultStreamName}}" placeholder="Leave Blank for Date/Time">
                                    </div>
                                    <div class="form-group">
                                        <label for="streamKey-{{channel.id}}" class="col-form-label"><b>Stream Key</b></label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <button type="button" class="btn btn-primary" onclick="CopyAPI('streamKey-{{channel.id}}')"><i class="fas fa-copy"></i></button>
                                            </div>
                                            <input type="text" class="form-control" name="streamKey" id="streamKey-{{channel.id}}" value="{{channel.streamKey}}" required readonly aria-describedby="generateGUID required">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-warning" id="generateGUID-{{channel.id}}"><i class="fas fa-sync"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h4><b>Recording Options</b></h4>
                                    {% if sysSettings.allowRecording == False %} Recording Disabled at Server Level {% endif %}
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label for="recordSelect" class="col-form-label"><b>Record Video </b> {% if current_user.has_role('Recorder') == False %} - <span style="color:red;">Disabled due to Missing Role</span> {% endif %}</label>
                                        </div>
                                        <div class="col-6">
                                            <input type="checkbox" data-toggle="toggle" id="recordSelect" name="recordSelect" {% if channel.record == True %} checked {% endif %} {% if current_user.has_role('Recorder') == False %} disabled {% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label for="chatSelect" class="col-form-label"><b>Allow Comments on Recorded Videos</b></label>
                                        </div>
                                        <div class="col-6">
                                            <input type="checkbox" data-toggle="toggle" id="allowComments" name="allowComments" {% if channel.allowComments == True %} checked {% endif %}>
                                        </div>
                                    </div>
                                    <h4><b>Publishing Options</b></h4>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label for="publishSelect" class="col-form-label"><b>Automatically Publish New Videos </b></label>
                                        </div>
                                        <div class="col-6">
                                            <input type="checkbox" data-toggle="toggle" id="publishSelect" name="publishSelect" {% if channel.autoPublish == True %} checked {% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label for="rtmpSelect" class="col-form-label"><b>Restream to another RTMP Server </b> - <span style="color:red;">Max Bitrate ({{sysSettings.restreamMaxBitrate}} Kbps)</span></label>
                                        </div>
                                        <div class="col-6">
                                            <input type="checkbox" data-toggle="toggle" id="rtmpSelect" name="rtmpSelect" {% if channel.rtmpRestream == True %} checked {% endif %}>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="rtmpDestination" class="col-form-label"><b>Restream RTMP Server URL</b></label>
                                        <input type="text" class="form-control" name="rtmpDestination" id="rtmpDestination" value="{{channel.rtmpRestreamDestination}}">
                                    </div>

                                    <hr>
                                    <h4><b>Chat Options</b></h4>
                                    <div class="form-group row">
                                        <div class="col-6">
                                            <label for="chatSelect" class="col-form-label"><b>Enable Chat </b></label>
                                        </div>
                                        <div class="col-6">
                                            <input type="checkbox" data-toggle="toggle" id="chatSelect" name="chatSelect" {% if channel.chatEnabled == True %} checked {% endif %}>
                                        </div>
                                        <div class="col-12">
                                            <label for="xmppToken" class="col-form-label"><b>Protected Channel XMPP Token </b></label><br>
                                            <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <button type="button" class="btn btn-primary" onclick="CopyAPI('xmppToken-{{channel.id}}');"><i class="fas fa-copy"></i></button>
                                              </div>
                                              <input type="text" class="form-control" id="xmppToken-{{channel.id}}" name="xmppToken" value="{{channel.xmppToken}}" readonly required><br>
                                            </div>
                                            <small id="xmppTokenHelpBlock" class="form-text text-muted">
                                                Given to Authorized Users to Connect to a Protected Channel's XMPP Chat Room
                                            </small>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="description" class="col-form-label"><b>Description</b></label>
                                        <textarea class="form-control" name="description" id="description-{{channel.id}}" value="" maxlength="2048">{{channel.description}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-4">
                                            <a href="javascript:void(0)" onclick="toggleDiv('channelProtection-{{channel.id}}');return false;"><h5><b><i class="fas fa-angle-double-down"></i> Channel Protection</b>{% if sysSettings.protectionEnabled == False %} - (Disabled) {% endif %}</h5></a>
                                        </div>
                                        <div class="col-2">
                                            <input type="checkbox" data-toggle="toggle" id="channelProtection" name="channelProtection" {% if channel.protected == True %} checked {% endif %} data-size="small" {% if sysSettings.protectionEnabled == False %} disabled {% endif %}>
                                        </div>
                                    </div>
                                    <div id="channelProtection-{{channel.id}}" style="display:none;">
                                        <hr>

                                        <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header"><h6><b><i class="fas fa-ticket-alt"></i> Invite Codes</b></h6></div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="form-group col-12 col-lg-4">
                                                                <label for="newInviteCodeText-{{channel.id}}" class="col-form-label mr-2"><b>Invite Code</b></label>
                                                                <input id="newInviteCodeText-{{channel.id}}" type="text" class="form-control" placeholder="Blank for Random">
                                                            </div>
                                                            <div class="form-group col-12 col-lg-4">
                                                                <label for="newInviteCode-{{channel.id}}" class="col-form-label mr-2"><b>Days Invite Code Valid</b></label>
                                                                <input id="newInviteCode-{{channel.id}}" type="number" class="form-control" min="0" placeholder="Set to 0 to not expire">
                                                            </div>
                                                            <div class="form-group col-12 col-lg-4">
                                                                <label for="newInviteCode-{{channel.id}}" class="col-form-label mr-2"><b>Options</b></label><br>
                                                                <input type="button" id="newInviteAddButton-{{channel.id}}" class="btn btn-primary" onclick="generateInviteCode('{{channel.id}}')" value="Add">
                                                            </div>
                                                        </div>
                                                        <div id="inviteCodes">
                                                            <div class="table-responsive">
                                                                <table id="inviteCodeTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Invite Code</th>
                                                                            <th>Expiration Date</th>
                                                                            <th>Uses</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for code in channel.inviteCodes %}
                                                                    <tr id="inviteCodeRow-{{code.code}}">
                                                                        <td>
                                                                            <div class="input-group mb-3">
                                                                                <div class="input-group-prepend">
                                                                                    <button type="button" class="btn btn-primary" onclick="CopyInviteCode('inviteCodeRO-{{code.code}}','code')"><i class="fas fa-copy"></i></button>
                                                                                    <button type="button" class="btn btn-success" onclick="CopyInviteCode('inviteCodeRO-{{code.code}}','link')"><i class="fas fa-link"></i></button>
                                                                                </div>
                                                                                <input type="text" class="form-control" name="inviteCodeRO" id="inviteCodeRO-{{code.code}}" value="{{code.code}}" readonly aria-describedby="inviteCodeRO required">
                                                                            </div>
                                                                        </td>
                                                                        <td>{{code.expiration|normalize_date}} {% if code.isValid() == False %}<i style="color:red;" class="fas fa-times"></i>{% endif %}</td>
                                                                        <td>{{code.uses}}</td>
                                                                        <td><button type="button" class="btn btn-sm btn-danger" onclick="deleteInviteCode('{{code.code}}')"><i class="far fa-trash-alt"></i></button></td>
                                                                    </tr>
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="card">
                                                    <div class="card-header"><h6><b><i class="fas fa-id-badge"></i> Invited Users</b></h6></div>
                                                    <div class="card-body">
                                                        <div class="form-row">
                                                            <div class="form-group col-md-6">
                                                              <label for="newInvitedUsername-{{channel.id}}" class="col-form-label"><b>Invited Username</b></label>
                                                              <input id="newInvitedUsername-{{channel.id}}" type="text" class="form-control">
                                                            </div>
                                                            <div class="form-group col-md-4">
                                                              <label for="newInvitedUserDays-{{channel.id}}" class="col-form-label"><b>Number of Days</b></label>
                                                              <input id="newInvitedUserDays-{{channel.id}}" type="number" class="form-control" min="0" placeholder="Set to 0 to not expire">
                                                            </div>
                                                            <div class="form-group col-md-2">
                                                                <label for="hiddenAnchorForButton" class="col-form-label"> </label>
                                                                <input type="hidden" id="hiddenAnchorForButton" class="form-control">
                                                                <div class="input-group-append">
                                                                    <button type="button" class="btn btn-primary" onclick="addInvitedUser('{{channel.id}}')"><i class="fas fa-plus"></i></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div id="invitedUsers">
                                                            <div class="table-responsive">
                                                                <table id="invitedUsersTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>User</th>
                                                                            <th>Date Added</th>
                                                                            <th>Expiration Date</th>
                                                                            <th>Used Code</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for user in channel.invitedViewers %}
                                                                        <tr id="invitedUserRow-{{user.id}}">
                                                                            <td>{{user.userID|get_userName}}</td>
                                                                            <td>{{user.addedDate|normalize_date}}</td>
                                                                            <td>{{user.expiration|normalize_date}} {% if user.isValid() == False %}<i style="color:red;" class="fas fa-times"></i>{% endif %}</td>
                                                                            <td>{{user.usedCode.code}}</td>
                                                                            <td><button type="button" class="btn btn-sm btn-danger" onclick="deleteInvitedUser('{{user.id}}')"><i class="far fa-trash-alt"></i></button></td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a href="javascript:void(0)" onclick="toggleDiv('webhook-{{channel.id}}');return false;"><h5><b><i class="fas fa-angle-double-down"></i> Webhook Configuration</b></h5></a>
                                    <div id="webhook-{{channel.id}}" style="display:none;">
                                         <hr>
                                         <div class="row">
                                            <div class="col-12">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h6><b><i class="fas fa-globe"></i> Active Webhooks</b>
                                                            <span class="float-right"><button class="btn btn-sm btn-success shadow" type="button" onclick="openNewWebhookModal('{{channel.id}}');"><i class="fas fa-plus"></i></button></span>
                                                        </h6>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="webhookList">
                                                            <div class="table-responsive">
                                                                <table id="webhookTable-{{channel.id}}" class="table table-borderless" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Webhook Name</th>
                                                                            <th>Trigger</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for webhook in channel.webhooks %}
                                                                        <tr id="webhookTableRow-{{webhook.id}}">
                                                                            <td id="webhookRowName-{{webhook.id}}">{{webhook.name}}</td>
                                                                            <td id="webhookRowEndpoint-{{webhook.id}}" style="display:none;">{{webhook.endpointURL}}</td>
                                                                            <td id="webhookRowTrigger-{{webhook.id}}">{{webhook.requestTrigger|get_webhookTrigger}}</td>
                                                                            <td id="webhookRowType-{{webhook.id}}" style="display:none;">{{webhook.requestType}}</td>
                                                                            <td id="webhookRowHeader-{{webhook.id}}" style="display:none;">{{webhook.requestHeader}}</td>
                                                                            <td id="webhookRowPayload-{{webhook.id}}" style="display:none;">{{webhook.requestPayload}}</td>
                                                                            <td>
                                                                                <button type="button" class="btn btn-sm btn-warning" onclick="editWebhook('{{webhook.id}}','{{channel.id}}')"><i class="fas fa-edit"></i></button>
                                                                                <button type="button" class="btn btn-sm btn-success" onclick="testWebhook('{{webhook.id}}','{{channel.id}}')"><i class="fas fa-vial"></i></button>
                                                                                <button type="button" class="btn btn-sm btn-danger" onclick="deleteWebhookModal('{{webhook.id}}')"><i class="far fa-trash-alt"></i></button>
                                                                            </td>
                                                                        </tr>
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="type" name="type" value="change">
                        <input type="hidden" id="origStreamKey" name="origStreamKey" value="{{channel.streamKey}}">
                        <div>
                            <div class="row">
                                <div class="col-12">
                                    <input type="submit" class="btn btn-success" value="&#128393; Edit">
                                    <button class="btn btn-danger" type="button" onclick="deleteChannelModal('{{channel.id}}')"><i class="far fa-trash-alt"> Delete</i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="chatSettingsWindow-{{channel.id}}" style="display:none;">
              <form action="/settings/channels/chat" enctype=multipart/form-data method="post">
                <div id="chatSettings-{{channel.id}}" class="my-2 ml-2">
                  <div>
                    <div class="row">
                      <div class="col-xl-4 col-lg-6 col-md-12">
                        <div class="form-group">
                          <label for="roomTitle" class="col-form-label"><b>Room title</b></label>
                          <input type="text" class="form-control" name="roomTitle" id="roomTitle"
                            value="{{channelRooms[channel.channelLoc]['title']}}">
                        </div>
                        <div class="form-group">
                          <label for="roomDescr" class="col-form-label"><b>Description</b></label>
                          <input type="text" class="form-control" name="roomDescr" id="roomDescr"
                            value="{{channelRooms[channel.channelLoc]['description']}}">
                        </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="form-group row">
                          <div class="col-6">
                            <label for="moderatedSelect" class="col-form-label"><b>Moderated </b></label>
                          </div>
                          <div class="col-6">
                            <input type="checkbox" data-toggle="toggle" id="moderatedSelect" name="moderatedSelect"
                              {% if channelRooms[channel.channelLoc]['moderated'] == "true" %} checked {% endif %}>
                          </div>
                        </div>
                        <div class="form-group row">
                          <div class="col-6">
                            <label for="allowGuests" class="col-form-label"><b>Allow guests to join room</b></label>
                          </div>
                          <div class="col-6">
                            <input type="checkbox" data-toggle="toggle" id="allowGuests" name="allowGuests"
                              {% if channelRooms[channel.channelLoc]['members_only'] == "false" %} checked {% endif %}>
                          </div>
                        </div>
                        <div class="form-group row" data-toggle="tooltip" data-placement="bottom" id="allowGuestsChatTooltip"
                          title="Has no effect if moderation is disabled">
                          <div class="col-6">
                            <label for="allowGuestsChat" class="col-form-label"><b>Allow guests to chat</b></label>
                          </div>
                          <div class="col-6">
                            <input type="checkbox" data-toggle="toggle" id="allowGuestsChat" name="allowGuestsChat"
                              {% if channelRooms[channel.channelLoc]['members_by_default'] == "true" %} checked {% endif %}>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-12">
                        <div id="moderators-{{channel.id}}">
                          <div class="row">
                            <div class="col-12">
                              <div class="card">
                                <div class="card-header">
                                  <h6><b><i class="fas fa-user-shield"></i> Moderators</b></h6>
                                </div>
                                <div class="card-body">
                                  <div class="form-row">
                                    <div class="form-group col-12 col-lg-6">
                                      <label for="addModText-{{channel.channelLoc}}" class="col-form-label mr-2"><b>Add
                                          Moderator</b></label>
                                      <input id="addModText-{{channel.channelLoc}}" type="text" class="form-control" placeholder="Username">
                                    </div>
                                    <div class="form-group col-12 col-lg-6">
                                      <label for="addModText-{{channel.channelLoc}}" class="col-form-label mr-2">&nbsp;</label><br>
                                      <input type="button" id="addModAddButton-{{channel.channelLoc}}" class="btn btn-primary"
                                        onclick="addMod('{{channel.channelLoc}}')" value="Add">
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-12" id="mods-{{channel.channelLoc}}">
                                      <div class="row">
                                        <div class="col-12 mb-2"><b>Username</b></div>
                                      </div>
                                      {% for mod in channelMods[channel.channelLoc] %}
                                      <div class="row" id="mod-{{channel.channelLoc}}-{{mod}}">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                          <p>{{mod}}</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
                                          <button type="button" class="btn btn-sm btn-danger"
                                            onclick="deleteMod('{{mod}}', '{{channel.channelLoc}}')"><i class="far fa-trash-alt"></i></button>
                                        </div>
                                      </div>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" id="channelLoc" name="channelLoc" value="{{channel.channelLoc}}">
                  <div>
                  </div>
                  <div>
                    <div class="row">
                      <div class="col-12">
                        <input type="submit" class="btn btn-success" value="&#128393; Edit">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteChannelModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteChannelModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteChannelModalTitle">Delete Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Deleting a channel will remove all associated videos and clip.  Are you sure you want to delete the channel?<br>
          <input type="hidden" id="deleteChannelID" name="channelID">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" onclick="deleteChannel();" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmDeleteWebhookModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteWebhookModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteWebhookModalTitle">Delete Webhook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Are you sure you want to delete the webhook?
          <input id="deleteWebhookID" type="hidden">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="deleteWebhook();">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newWebhookModal" tabindex="-1" role="dialog" aria-labelledby="newWebhookModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newWebhookModalTitle">Create/Edit Webhook</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="row">
             <div class="col-12">
                 <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="webhookName">Name</label>
                        <input id="webhookName" class="form-control">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="webhookEndpoint">Endpoint URL</label>
                        <input id="webhookEndpoint" class="form-control">
                    </div>
                    <div class="col-md-4"></div>
                    <div class="form-group col-md-12">
                        <label for="webhookHeader">Request Header</label>
                        <textarea id="webhookHeader" class="form-control" maxlength="4096"></textarea>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="webhookPayload">Payload</label>
                        <textarea id="webhookPayload" class="form-control" cols=50 rows=25 maxlength="4096"></textarea>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="webhookReqType">Type</label>
                        <select id="webhookReqType" class="form-control">
                             <option value=0 selected>POST</option>
                             <option value=1>GET</option>
                             <option value=2>PUT</option>
                             <option value=3>DELETE</option>
                        </select>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="webhookTrigger">Trigger Event</label>
                        <select id="webhookTrigger" class="form-control">
                             <option value=0 selected>Stream Start</option>
                             <option value=1>Stream End</option>
                             <option value=2>Stream Viewer Join</option>
                             <option value=4>Stream Name Change</option>
                             <option value=5>Chat Message</option>
                             <option value=6>New Video</option>
                             <option value=7>Video Comment</option>
                             <option value=9>Video Name Change</option>
                             <option value=10>Channel Subscription</option>
                        </select>
                    </div>
                    <input id="webhookChannelIDInput" type="hidden">
                    <input id="webhookInputAction" type="hidden">
                    <input id="webhookID" type="hidden">
                 </div>
             </div>
         </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitWebhook()">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newChannelModal" tabindex="-1" role="dialog" aria-labelledby="newChannelModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <form action="/settings/channels" enctype=multipart/form-data method="post">
      <div class="modal-header">
        <h5 class="modal-title" id="newChannelModalTitle">Create New Channel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12">
                <h4>Channel Image</h4>
                <img src="/static/img/video-placeholder.jpg" width="100%">
                <input type=file name=photo class="form-control-file" value="Upload a Photo" style="margin-top:10px;width:384px;"><br>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="form-group">
                    <label for="channelName" class="col-form-label"><b>Channel Name</b></label>
                    <input type="text" class="form-control" name="channelName" id="channelName" required>
                </div>
                <div class="form-group">
                    <label for="channeltopic" class="col-form-label"><b>Topic</b></label>
                    <select class="form-control" name="channeltopic" id="channeltopic" style="font-family: FontAwesome, sans-serif;" required >
                        {% for topic in topics %}
                        <option value={{topic.id}}>{{topic.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                {% if sysSettings.allowRecording == True %}
                <div class="form-group row">
                    <div class="col-6">
                        <label for="recordSelect" class="col-form-label"><b>Record Video </b></label>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" data-toggle="toggle" id="recordSelect" name="recordSelect">
                    </div>
                </div>
                {% endif %}

                <div class="form-group row">
                    <div class="col-6">
                        <label for="chatSelect" class="col-form-label"><b>Enable Chat </b></label>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" data-toggle="toggle" id="chatSelect" name="chatSelect" >
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-6">
                        <label for="chatSelect" class="col-form-label"><b>Allow Comments on Recorded Videos</b></label>
                    </div>
                    <div class="col-6">
                        <input type="checkbox" data-toggle="toggle" id="allowComments" name="allowComments" >
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="description" class="col-form-label"><b>Description</b></label>
                    <textarea class="form-control" name="description" id="description" value="" maxlength="2048"></textarea>
                </div>
            </div>
        </div>
        <input type="hidden" id="type" name="type" value="new">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-success" value="Save">
      </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="videoMoveModal" tabindex="-1" role="dialog" aria-labelledby="videoMoveModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="videoMoveModalTitle">Move to Another Channel</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5>Move this Video to Channel:</h5>

          <select id="moveToChannelInput" name="moveToChannelID" class="form-control">
            <option disabled selected value>-- Select Destination Channel --</option>
            {% for chan in current_user.channels %}
            <option value="{{chan.id}}">{{chan.channelName}}</option>
            {% endfor %}
          </select>
          <input type="hidden" id="moveVideoID">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-warning" data-dismiss="modal" onclick="moveVideoSubmit();">Move</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="videoThumbnailUploadModal" tabindex="-1" role="dialog" aria-labelledby="videoThumbnailUploadModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="videoThumbnailUploadModalTitle">Upload a New Thumbnail</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <h5>Upload a New Thumbnail for this Video:</h5>
          <img id="videothumbnailuploadpreview" class="shadow" src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
          <span>Thumbnail <span id="videothumbnailuploadstatus"></span></span>
          <!-- hidden dropzone -->
          <div class="dropzone" id="videothumbnaildropper" enctype="multipart/form-data"></div>
          <div class="form-group row">
            <div class="col-2 my-auto">
              <button id="videothumbnailuploadbutton" type="button" class="btn btn-sm btn-primary">Browse</button>
            </div>
            <div class="col-10">
              <input class="form-control pl-2 form-control" id="videothumbnailFilenameDisplay" name="thumbnailFilename" placeholder="Filename" disabled />
              <input type="hidden" class="form-control pl-2 form-control" id="videothumbnailFilename" name="thumbnailFilename" placeholder="Filename" />
            </div>
          </div>

          <div class="progress progress-striped active mb-2" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
            <div id="videothumbnailuploadprogress" class="progress-bar progress-bar-success bg-success" style="color: white; width:0%;" data-dz-uploadprogress></div>
          </div>
          <input type="hidden" id="videoThumbnailID">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="saveUploadedThumbnail();">Save</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="videoDeleteModal" tabindex="-1" role="dialog" aria-labelledby="videoDeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoDeleteModalTitle">Confirm Video Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>Are you sure you want to delete this video?</h5>
        <input type="hidden" id="videoDeleteIDSelector" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button id="videoDeleteButton" type="button" class="btn btn-danger" data-dismiss="modal" onclick="">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="videoClipModal" tabindex="-1" role="dialog" aria-labelledby="videoClipModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="clipModalTitle">Create a Video Clip</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="player w-100">
            <video id="videoClip" class="shadow video-js vjs-big-play-centered" controls playsinline preload="auto" data-setup='{"fluid": true}'>
              <source src="" type="video/mp4">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
          <br>
          <div id="clipError" class="alert alert-warning" style="display:none;"></div>
          <div id="clipTimeSelect">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-primary" type="button" id="clipStartTimeButton" onclick="setClipStart()" data-toggle="tooltip" data-placement="top" title="Set Clip Start">A</button>
                  </div>
                  <input type="number" id="clipStartTime" name="clipStartTime" class="form-control" placeholder="Start Time" readonly required>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-danger" type="button" id="clipStopTimeButton" onclick="setClipStop()" data-toggle="tooltip" data-placement="top" title="Set Clip Stop">B</button>
                  </div>
                  <input type="number" id="clipStopTime" name="clipStopTime" class="form-control" placeholder="Stop Time" readonly required>
                </div>
              </div>
            </div>
            <br>
            <input id="clipName" name="clipName" class="form-control" placeholder="Clip Name" maxlength="255" required><br>
            <textarea id="clipDescription" name="clipDescription" class="form-control" placeholder="Description of the Clip" maxlength="2048"></textarea>
            <input id="clipVideoID" type="hidden">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
          <button id="clipSubmitButton"  type="button" class="btn btn-success" data-dismiss="modal" onclick="createVideoClipSubmit();">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="videoEditModal" tabindex="-1" role="dialog" aria-labelledby="videoEditModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalTitle">Edit Video Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h5>Name of the Video:</h5>
          <input type="text" class="form-control" value="" id="editVideoName" name="newVidName" required>
          <br>
          <h5>Video Topic:</h5>
          <select class="form-control" name="newVidTopic" id="editVideoTopic" required>
            {% for topic in topics %}
            <option value={{topic.id}}>{{topic.name}}</option>
            {% endfor %}
          </select>
          <br>
          <div class="form-group">
            <label for="description" class="col-form-label"><b>Description</b></label>
            <textarea class="form-control" name="description" id="editVideoDescription" value="" maxlength="2048"></textarea>
          </div>
          <div class="form-group row">
            <div class="col-8">
              <label for="allowComments" class="col-form-label"><b>Allow Comments on This Video</b></label>
            </div>
            <div class="col-4">
              <input type="checkbox" data-toggle="toggle" id="editVideoAllowComments" name="allowComments">
            </div>
            <input type="hidden" id="editVideoID" value="">
          </div>
       </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="button" id="editVideoSubmit" class="btn btn-primary" data-dismiss="modal" onclick="editVideoSubmit();" value="Save Changes">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="videoShareModal" tabindex="-1" role="dialog" aria-labelledby="videoShareModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="videoShareModalTitle">Share a Video/Stream</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div style="margin: 0 auto;width: 99%; text-align: center;">
          <button type="button" id="FBShareBtn" class="btn shadow" style="background-color:#4267B2;color:white;"
            onclick="">Share on Facebook</button>
          <button type="button" id="TwitterShareBtn" class="btn shadow" style="background-color:#1dcaff;color:white;"
            onclick="">Share on Twitter</button>
        </div>
        <br>
        <div class="form-group row">
          <label for="embedURLInput" class="col-sm-2 col-form-label"><b>Embed</b></label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <button type="button" class="btn btn-primary" onclick="CopyAPI('embedURLInput')"><i class="fas fa-copy"></i></button>
              </div>
              <input class="form-control" id="embedURLInput" type="text" value="" readonly onClick="this.select();">
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="linkShareInput" class="col-sm-2 col-form-label"><b>Link</b></label>
          <div class="col-sm-10">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                  <button type="button" class="btn btn-primary" onclick="CopyAPI('linkShareInput')"><i class="fas fa-copy"></i></button>
              </div>
              <input class="form-control" id="linkShareInput" type="text" value="" readonly onClick="this.select();">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="videoNewSSModal" tabindex="-1" role="dialog" aria-labelledby="newSSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newSSModalTitle">Capture New Video Thumbnail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div class="player w-100">
            <video id="videoSSClip" class="shadow video-js vjs-big-play-centered" controls playsinline preload="auto" data-setup='{"fluid": true}'>
              <source src="" type="video/mp4">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
          <hr>
          <div>
            <h5>Use this picture?</h5>
            <img id="newScreenShotImg" class="shadow" src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
          </div><br>
          <button class="btn btn-block btn-success" onclick="newScreenShot();">Capture Screenshot</button>
          <input type="hidden" id="videossID">
          <input type="hidden" id="SSTimestamp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="setScreenShot()" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clipEditModal" tabindex="-1" role="dialog" aria-labelledby="clipEditModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clipEditModalTitle">Edit Clip Info</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <h5>Name of the Clip:</h5>
          <input type="text" class="form-control" id="editClipName" value="" name="newVidName" required>
          <br>
          <div class="form-group">
            <label for="description" class="col-form-label"><b>Description</b></label>
            <textarea class="form-control" name="description" id="clipEditDescription" value="" maxlength="2048"></textarea>
          </div>
            <input type="hidden" id="editClipID">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input type="button" class="btn btn-primary" data-dismiss="modal" onclick="editClipSubmit()" value="Save Changes">
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clipDeleteModal" tabindex="-1" role="dialog" aria-labelledby="clipDeleteModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="clipDeleteModalTitle">Confirm Clip Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <h5>Are you sure you want to delete this clip?</h5>
        <input type="hidden" id="clipDeleteIDSelector" value="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button id="clipDeleteButton" type="button" class="btn btn-danger" data-dismiss="modal" onclick="">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clipNewSSModal" tabindex="-1" role="dialog" aria-labelledby="newClipSSModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newClipSSModalTitle">Capture New Clip Thumbnail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
          <div class="player w-100">
            <video id="clipSS" class="shadow video-js vjs-big-play-centered" controls playsinline preload="auto" data-setup='{"fluid": true}'>
              <source src="" type="video/mp4">
              <p class="vjs-no-js">
                To view this video please enable JavaScript, and consider upgrading to a web browser that
                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
              </p>
            </video>
          </div>
          <hr>
          <div>
            <h5>Use this picture?</h5>
            <img id="newClipScreenShotImg" class="shadow" src="/static/img/video-placeholder.jpg" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
          </div><br>
          <button class="btn btn-block btn-success" onclick="newClipScreenShot();">Capture Screenshot</button>
          <input type="hidden" id="clipssID">
          <input type="hidden" id="clipvideossID">
          <input type="hidden" id="clipSSTimestamp">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" onclick="setClipScreenShot()" class="btn btn-success" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>

<script>
    var siteProtocol = "{{sysSettings.siteProtocol}}";
    var siteAddress = "{{sysSettings.siteAddress}}";
    var maxClipLength = {{sysSettings.maxClipLength}};
</script>
<script src="/static/vendor/videojs/js/video.js"></script>
<script src="/static/vendor/dropzone/js/dropzone.min.js"></script>
<script src="/static/js/userchannels.js"></script>

<script>
    {% for channel in channels %}
    var easymde{{channel.id}} = new EasyMDE({ autoDownloadFontAwesome: false, spellChecker: false, element: document.getElementById("description-{{channel.id}}") });
    {% endfor %}

    {% for channel in channels %}
    document.getElementById('generateGUID-{{channel.id}}').addEventListener('click', function() {
      document.getElementById('streamKey-{{channel.id}}').value = guid();
    })
    {% endfor %}
</script>

{% for chan in viewStats %}
<script>
    var ctx = document.getElementById('viewershipChart-{{chan}}').getContext('2d');
    ctx.canvas.width = 1024;
    ctx.canvas.height = 380;
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'bar',

        // The data for our dataset
        data: {

            datasets: [{
                label: "Live Viewers",
                fill: true,
                borderColor: 'rgb(255, 0, 0)',
                backgroundColor: 'rgb(255, 0, 0)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in viewStats[chan]['live'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]},
                {
                label: "Video Viewers",
                fill: true,
                borderColor: 'rgb(0, 0, 255)',
                backgroundColor: 'rgb(0, 0, 255)',
                spanGaps: true,
                lineTension: 0,
                data:[
                    {% for entry in viewStats[chan]['recorded'] %}
                        {x:'{{entry['t']}}',y:{{entry['y']}}},
                    {% endfor %}
                ]
            }]
        },

        // Configuration options go here
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        parser: 'YYYY-MM-DD',
                        unit: 'day'
                    }
                }],
            }
        }
    });
</script>
{% endfor %}

{% endblock %}